body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding:10px;
}

.header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-weight: bold;
}

.user-actions span {
    margin-left: 20px;
    cursor: pointer;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}

button:hover {
    background-color: darkred;
}
