body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #dc3545; /* Vermelho */
    padding: 0.5vw 1vw;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 20px;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-self: center ;
}
.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #f8f9fa; /* Cor mais clara para o hover */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 1vw;
    margin-top: 60px; /* Espaço para a navbar fixa */
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card .edit-icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
}

.card input, .card textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width: calc(100% - 30px); /* Ajusta a largura para deixar espaço para o ícone */
    box-sizing: border-box;
    margin-bottom: 10px;
    display: none; /* Inicialmente escondido */
}

.card textarea {
    height: 100px;
    resize: none;
}

.card .status {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.card .status.finished {
    background-color: #28a745;
}

.card .status.urgent {
    background-color: #ff7b07;
}
.card .status.ongoing {
    background-color: #FFC222;
}

.card .status.most-urgent {
    background-color: #dc3545;
}

.card .status.common {
    background-color: #007bff;
}

.card .status.no-status {
    background-color: #6c757d;
}

.card .status-select {
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.card .status-select select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
}

.card .status-select select.finished {
    background-color: #28a745;
}

.card .status-select select.urgent {
    background-color: #ffc107;
}

.card .status-select select.ongoing {
    background-color: #FFC222;
}

.card .status-select select.most-urgent {
    background-color: #dc3545;
}

.card .status-select select.common {
    background-color: #007bff;
}

.card .status-select select.no-status {
    background-color: #6c757d;
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .card-container {
        padding: 10px;
        padding-top: 60px; /* Ajusta o padding para dar espaço para a navbar */
    }

    .card {
        width: 100%;
        max-width: 350px; /* Largura máxima para telas menores */
    }
}

@media (max-width: 480px) {
    .card-container {
        padding: 10px;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}
.footer {
background-color: #dc3545; /* Vermelho */
color: #fff;
text-align: center;
padding: 10px;
position: relative;
bottom: 0;
width: 100%;

}